<div class="tile shopping" ng-style="halfTall">
	<div ng-style="number">{{itemsToBuy}}</div>
	<div ng-style="info"="info">items to buy</div>
</div>

<div class="tile fitness" ng-style="halfTall">
  <div ng-style="number">2</div>
	<div ng-style="info"="info">fitness things</div>
</div>

<div class="tile reminders" ng-style="halfTall">
  <div ng-style="number">0</div>
	<div ng-style="info"="info">reminders</div>
</div>

<div class="tile something" ng-style="halfTall">
  <div ng-style="number">1</div>
	<div ng-style="info"="info">something</div>
</div>